<div class="widget">
  <div class="buttons">
    <input type="button" value="Compile" class="compileButton" />
    <input type="button" value="Run" class="runButton" />
    <input type="button" value="Reset" class="resetButton" />
    <input type="button" value="Hexdump" class="hexdumpButton" />
  </div>

  <textarea class="code"></textarea>

  <canvas class="screen" width="160" height="160"></canvas>

  <div class="monitorControls">
    <label for="monitoring">Monitor</label>
    <input type="checkbox" class="monitoring" name="monitoring" />

    <label for="start">Start $</label>
    <input type="text" value="0" class="start" name="start" />
    <label for="length">Length $</label>
    <input type="text" value="ff" class="length" name="length" />
  </div>

  <div class="debugger">
    <input type="checkbox" class="debug" name="debug" />
    <label for="debug">Debugger</label>
    <div class="minidebugger"></div>
    <div class="buttons">
      <input type="button" value="Step" class="stepButton" />
      <input type="button" value="Jump to..." class="gotoButton" />
    </div>
  </div>
  <div class="monitor"><code></code></div>
  <div class="messages"></div>
</div>
